<!DOCTYPE html>
<html>
<head>
	<title>404 Not Found</title>
	<link rel="icon" href="favicon.ico?v=1.1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="container py-5 mt-5">
		<div class="jumbotron">
		  <h1 class="display-4">404, Chargepoint/Connector Not Found</h1>
		  <p class="lead">The particular charge point or connector does not exist. Please ensure the chargepoint is before the connector ID.</p>
		  <hr class="my-4">
		  <p>Click below to return to home</p>
		  <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</div>
		</div>
		
	</div>
</body>
</html>